---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">
					嗨各位，又是我8183皮的时候了（划掉），这次计划从青岛出发，做一次环球飞行，遍历基本上所有国家或地区，并且<b>所有飞行采用真实世界中的真实航线、航司、机型</b>（以2018年秋季排班为主），尽可能每次都是短途航线，这样会经过更多城市。</span><p>
					<span class="subheading">在规划航线时，我也会<b>尽量安排更多的机型和更多的特殊机场</b>，例如ARJ21、MA60、毛机、卢卡拉、启德等。在第三次来到中国时，我们会经过香港，在那里，我们会做一次穿越时空的飞行，但是那时可能就是2019年了。</span></p>
					<p><span class="subheading">
					虽然有些机型可能没有合适的机模，我会尽量在飞行时用FSR录制并用AI机模回放并截图（如我们可能用ATR72飞MA60的航线）</span></p>
					<p><span class="subheading">青岛流亭机场预计2019年会关闭，所以，<b>我们这次历时一年或更多的飞行会由流亭机场起飞，环球多周后，回到胶东国际机场落地</b>，目前我的ZSQD地皮还在施工中，所以起飞机场的地皮会比较丑，大家见谅。</span></p>
					<p><span class="subheading">这次飞行，我会在 
					https://8183Studio.github.io/Cross_the_Earth 
					进行每一次飞行的图文直播，也会同时发布到Sino，欢迎大家去网站捧场。</span></div>
            </div>
        </div>
    </div>
</header>

<link rel="stylesheet" href="/css/backtop.css">  <!-- Back Top -->
<script type="text/javascript" src="/js/backtop.js"></script>  <!-- Back Top -->

<div id="back-top">
  <a href="#top" title="鍥炲埌椤堕儴"></a>
</div>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{{ content }}
		</div>
	</div>
</div>

<hr>
